a {color: #010101}
/* Top CSS Start */
#top_container {width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8);}
#banner_logo {width:200px; height: 60px; background: url(../../img/ryougi_logo.png) no-repeat 50% 60%; background-size: 80%; float: left;     margin-left: 40px;}
.banner_contact {width: 100%; height: 30px; line-height: 30px; text-align: right; font-size: 16px; font-style: normal; color: #010101;}

/* Left CSS Start */
#left_container {width: calc(100% - 60px); height: calc(100% - 60px); background: rgba(255, 255, 255, 0.8); position: absolute; left: 60px; top: 30px;}
#left_list {padding: 20px; }
#left_list > li {font-size: 16px; height: 28px; line-height: 28px; border-bottom: 1px dashed black;}

/* Right CSS Start */
#right_container {width: calc(100% - 90px); height: calc(100% - 60px); background: rgba(255, 255, 255, 0.8); position: absolute; left: 30px; top: 30px;}
#right_form {padding: 20px;}
#right_form > h1 {font-size: 28px; font-weight: bold; color: rgb(33, 150, 243); padding: 10px;}
#right_form > form div {font-size: 14px; font-weight: bold; padding: 5px; }
input, textarea, select {border: none; background: rgba(255,255,255,0.8); padding: 5px;}
b {font-size: 18px; font-weight: bold; color: red;}
#summary {height: 90px; line-height: 90px;}
.label {float: left; padding: 1px;}
#submitBtn {width: 108px; height: 48px;}
.inputBtn {	width: 100px; height: 40px;	background: rgb(33, 150, 243); color: white; border: none; margin: 0 4px;}
.inputBtn:hover {background: rgba(33, 150, 243, 0.8)}
.inputBtn:active {background: rgba(33, 150, 243, 0.5)}