/**
 * Ryougi css
 */
#main_container {width: 100%; min-width: 1000px; background: url(../img/Tsukihime.full.1277383.jpg) no-repeat; background-size: cover;
		transition:background 2s ease-in-out; -moz-transition:background 2s ease-in-out; 
		-webkit-transition:background 2s ease-in-out; -o-transition:background 2s ease-in-out; }

/* Banner Css Start*/
#banner {height: 120px; background: rgba(0, 0, 0, 0.4); }
#banner_logo {width:400px; height: 120px; background: url(../img/ryougi_logo.png) no-repeat 50% 60%; background-size: 80%; float: left; }
#banner_logo > a {display: block; width: 100%; height: 120px;}
#banner_nav > ul > li {width: 120px; height: 120px; position: relative; line-height: 120px; text-align: center; color: #ffffff; font-size: 48px; 
        float: left }
#banner_nav a {width: 100%;}
#banner_nav > ul > li:hover {background: rgba(255, 255, 255, 0.1)}
#banner_nav > ul > li > .banner_nav_level2 {display: none; opacity: 0; width: 240px; position: absolute; left: 0; top: 120px; background: rgba(0, 0, 0, 0.4)}
#banner_nav > ul > li > .banner_nav_level2 > li {width: 120px; height: 48px; line-height: 48px; font-size: 28px; text-align: center; float: left; }
#banner_nav > ul > li > .banner_nav_level2 > li:hover {background: rgba(255, 255, 255, 0.1)}
#banner_nav > ul > .banner_nav_level1_item:hover > .banner_nav_level2 {display: block; transition:opacity .5s; transition-delay: .1s; 
        -moz-transition:opacity .5s; -moz-transition-delay: .1s;  -webkit-transition:opacity .5s; -webkit-transition-delay: 10s; -o-transition:opacity .5s; 
        -o-transition-delay: .1s; opacity: 1.0;}
#banner_nav > ul > li > .banner_nav_level2 > li > a:hover {color: rgb(33, 150, 243)}

/* Main Css Start*/
#main_pager {float: right; width: 100px;}
#main_pager > a {display: block; width: 100%; font-size: 18px;height: 36px; line-height: 36px; text-align: center;background: rgb(33, 150, 243); margin-bottom: 10px; }
#main_pager > a:hover {color: rgba(240, 240, 240, 0.8);}
#main_block {float: left; }
#main_block > div > ul > li:hover {opacity: 0.75;}
#main_block_lefttop {width: 244px; height: 244px;}
#main_block_righttop {float: right; width: 480px; height: 242px; background: rgba(255, 255, 255, 0.8); padding: 0 3px 0 3px; margin: 0 2px 0 0;}
#main_block_righttop_last {border: none !important;}
.main_block_square > ul > li {width: 120px; height: 120px; line-height: 120px; text-align: center; font-size: 28px; color: #ffffff; margin: 0 2px 2px 0; background: rgba(33, 150, 243, 0.8)}
#main_block_lefttop > ul > li {float: left; }
#main_block_righttop > form > ul > li {position: relative; height: 48px; border-bottom: #cccccc 1px dashed; color: #000000; line-height: 48px; font-size: 18px;}
#main_block_righttop a {width: 80%; display: block; color: #000000; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
#main_block_righttop a:hover {color: #2196f3;}
#main_block_righttop span {position: absolute; right: 2px}
#main_block_righttop b {font-size: 20px; color: rgb(33, 150, 243);}
#main_block_bottom > ul > li {float: left; margin-top: 12px;}
#main_block_bottom_left2 {margin-right: 12px;}

/* Footer Css Start*/
#footer {height: 60px; background: rgba(0, 0, 0, 0.9); }
#footer > div {width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 16px; font-style: normal; color: #ffffff;}
/* Article Page CSS Start */
.article_banner {background: #7a7a7a !important}
.article_main {background: #f2f1eb}
.article_footer {background: #7a7a7a !important}
#article {width: 70%; padding: 48px 0; margin: 0 15%;}
#article_head > time {font-size: 1.5em; line-height: 1.5em; display: block; color: #820000; text-transform: uppercase;}
#article_head > h1 {font-weight: 400; font-size: 3.2em; line-height: 1.2em; padding: 14px 0;}
#article_head > p {font-size: 1.25em; line-height: 1.25em; font-style: italic;}
#article_body {margin: 36px 0; width: 85%; padding-left: 15%;}
#article_body > span {font-size: 1.5em; line-height: 1.5em; display: block; color: #820000; text-transform: uppercase;}
#article_body > p {text-indent:2em; line-height: 1.5em; font-size: 1.2em;}
#article_tags {width: 12%; height: 480px; float: left; margin: 36px 0;}
#article_tags > a {display: block; margin: 5px 0; background: url("../img/ic_more_white_48dp.png") 50% 0 no-repeat; width: 100%; height: 32px; color: white; line-height: 32px; text-indent: 0.6em; background-size: cover;}
#article_tags > div {padding: 20px 0; float: right}
#article_tags > div a {color: #4d4f53}
#article_tags > div a:hover {color: #2196f3}
#article_tags i {padding: 5px; display: block}