<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 启用spring注解支持 -->
	<context:annotation-config />
	<!-- 配置sessionFactory -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1/newssystem" />
		<property name="username" value="root" />
		<property name="password" value="$ryougi_0207" />
	</bean>
	<!-- <bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1/newssystem" />
		<property name="user" value="root" />
		<property name="password" value="$ryougi_0207" />
		其他配置
		初始化时获取三个连接，取值应在minPoolSize与maxPoolSize之间。Default: 3
		<property name="initialPoolSize" value="3"></property>
		连接池中保留的最小连接数。Default: 3
		<property name="minPoolSize" value="3"></property>
		连接池中保留的最大连接数。Default: 15
		<property name="maxPoolSize" value="5"></property>
		当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3
		<property name="acquireIncrement" value="3"></property>
		控制数据源内加载的PreparedStatements数量。如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 0
		<property name="maxStatements" value="8"></property>
		maxStatementsPerConnection定义了连接池内单个连接所拥有的最大缓存statements数。Default: 0
		<property name="maxStatementsPerConnection" value="5"></property>
		最大空闲时间,1800秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0
		<property name="maxIdleTime" value="1800"></property>
	</bean> -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">20</prop>
				<prop key="hibernate.current_session_context_class">
					thread
				</prop>
			</props>
		</property>
		<property name="mappingLocations">
			<list>
				<value>classpath:com/news/entity/Topic.hbm.xml</value>
				<value>classpath:com/news/entity/Admin.hbm.xml</value>
				<value>classpath:com/news/entity/NewsInfo.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置事务 -->  
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory"/>  
    </bean>
    <!-- 定义事务通知 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
    	<tx:attributes>
    		<tx:method name="*" propagation="REQUIRED"/>
    	</tx:attributes>
    </tx:advice>
    <!-- 定义切面并和事务组合 -->
    <aop:config>
    	<aop:pointcut expression="execution(* com.news.biz.*.*(..))" id="bizMethods"/>
    	<aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethods"/>
    </aop:config>
	
	<!-- Spring Bean -->
	<bean id="newsInfoDAO" class="com.news.dao.impl.NewsInfoDAOImpl" autowire="byName"></bean>
	<bean id="topicDAO" class="com.news.dao.impl.TopicDAOImpl" autowire="byName"></bean>
	<bean id="newsInfoBiz" class="com.news.biz.impl.NewsInfoBizImpl" autowire="byName"></bean>
	<bean id="topicBiz" class="com.news.biz.impl.TopicBizImpl" autowire="byName"></bean>
	<bean id="adminDAO" class="com.news.dao.impl.AdminDAOImpl" autowire="byName"></bean>
	<bean id="adminBiz" class="com.news.biz.impl.AdminBizImpl" autowire="byName"></bean>
	
	
	<!-- spring管理的自定义filter -->  
    
    <!-- spring管理struts2的Action -->
    <bean id="newsInfoAction" class="com.news.action.NewsInfoAction" scope="prototype" autowire="byName"></bean>
	<bean id="adminAction" class="com.news.action.AdminAction" scope="prototype" autowire="byName"></bean>

</beans>
